body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.header,
.hero,
.advertisement__inside,
.mainBody,
.sidebar__inside,
.footer {
    background-color:  #9fc5f8;
    margin-bottom: 10px;
    
}
.advertisement,
.sidebar {
    padding-right: 0;
    padding-left: 15px;
}
.advertisement__inside,
.sidebar__inside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94%;
    
}
.header {
    height: 80px;    
}        
.header__inBrand,
.header__inGlobalNav,
.header__inTools {
    background-color: #cfe2fb;
    height: 30px;
    text-align: center;
}
.hero__inFeature,
.hero__inCallToAction {
    background-color: #cfe2fb;
    height: 110px;
    text-align: center;
}
.body__inFeature,
.body__inListing {
    background-color: #cfe2fb;
    height: 100px;
    text-align: center;
}
.hero {
   height: 150px;
}
.body__advertisement {
   background-color: #6fa8dc;   
}
.mainBody {
    height: 150px;
}
.sidebar_inside {

}
.footer {
    height: 60px;
}
.spanHeader {
    font-weight: 600;
    text-align: left;
}
.simpleSpan {
    text-align: center;
}
@media (max-width: 992px) {
    .body__feature {
        padding: 10px;
    }
    .hero__inCallToAction {
        margin-top: 10px;
    }
    .hero__inFeature {
        height: 60px;
    }
    .hero__inCallToAction {
        height: 40px;
    }
    .body__advertisement {
        height: 50px;
    }
    .body__inFeature,
    .body__inListing {
        height: 50px;
     }
     .sidebar {
        padding: 0;
        margin-bottom: 5px;
        height: 100px;
     }
}
@media (max-width: 700px) {
    .hero {
        height: 80px;
    }
    .hero__inCallToAction{
        height: 40px;
    }
}
@media (max-width: 575px) {
.header__inBrand,
.header__inGlobalNav,
.header__inTools {
    background-color: #cfe2fb;
    height: 25px;
    text-align: center;
}
.header__inBrand {
    margin-bottom: 5px;
}
.hero {
    height: 60px;
}
.hero__inFeature,
.hero__inCallToAction {
    background-color: #cfe2fb;
    height: 20px;
    text-align: center;
}
.body__inFeature,
.body__inListing {
    background-color: #cfe2fb;
    height: 40px;
    text-align: center;
}
.body__advertisement {
    height: 20px;
    margin-bottom: 5px;
 }
}