
body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 14px;
}
.row {
    background-color: #9fc5f8;
}
.col-12,
.col-md-2,
.col-6,
.col-md-7,
.col-6, 
.col-md-3 {
    background-color: #cfe2fb;
}
.header {
    height: 100px;
}
.header__text {
    line-height: 45px;
}