
body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 14px;
    padding: 20px;
    width: 100%;
}

main {
    margin-top: 10px;
    width: 50%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
}
nav {
    width: 50%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
    align-content: stretch;
    text-align: center;
}
.nav__h1 {
    color: darkred;
    font-weight: bold;
    margin-bottom: 5px;
}

.main__userField {
    margin-bottom: 15px;

}

.main__userField li {
    margin-top: 5px;
}
.user {
    margin-top: 10px; 
}