
body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
}
.header {
    background-color: deepskyblue;
    box-sizing: border-box;
    color: white;
    width: 96%;
    height: 5vw;
    margin: 0 auto;
}
.header__title {
    font-size: 26px;
    padding-top: 1%;
    padding-left: 5%;
}
.header__burger {
    background-color: white;
    display: none;
    height: 2px;
    position: absolute;
    top: 8px;
    width: 80px;
    left: 77px;

}
.mainBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto;
    width: 96%;
}
.mainBox__leftSide, .mainBox__rightSide {
    background-color: darkgrey;
    width: 25%;
    height: 35vw;
    line-height: 35vw;
    text-align: center;
}
.mainBox__mainText {
    background-color: darkgrey;
    width: 48%;
    height: 35vw; 
    line-height: 35vw;
    text-align: center;
}
.mainBox__nameOfBox {
    vertical-align: middle;
    display: inline-block;
    line-height: 24px;
    width: 33%;
}
@media (max-width: 768px) {
    .header {
        position: relative;
        height: 40px;
        margin-top: 3px;
    }
    .header__burger {
        background-color: white;
        display: inherit;
        height: 2px;
        position: absolute;
        top: 10px;
        width: 36px;
        left: 86%;
    }
    .header__burger_third {
        left: 86%;
        top: 10px;
    }
    .header__burger_fourth {
        top: 16px;
        left: 86%;
    }
    .header__burger_sixth {
        top: 22px;
        left: 86%;
    }
    .header__title {
        font-size: 22px;
        padding-top: 1%;
        padding-left: 8%;
    }
    .mainBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px auto;
        width: 96%;
    }
    .mainBox__leftSide {
        background-color: darkgrey;
        width: 33%;
        height: 35vw;
    }
    .mainBox__rightSide {
        display: none;
    }
    .mainBox__mainText {
        background-color: darkgrey;
        width: 66%;
        height: 35vw;  
    }  
}
@media (max-width: 425px) {
    .header {
        height: 9vw;
        margin-top: 2%;
        position: relative;
    }
    .header__burger {
        background-color: white;
        display: inherit;
        height: 2px;
        position: absolute;
        top: 8px;
        width: 36px;
        left: 5px;
    }
    .header__burger_fifth {
        top: 8px;
    }
    .header__burger_first {
        top: 14px;
    }
    .header__burger_second {
        top: 20px;
    }
    .header__burger_third {
        left: 86%;
        top: 8px;
    }
    .header__burger_fourth {
        top: 14px;
        left: 86%;
    }
    .header__burger_sixth {
        top: 20px;
        left: 86%;
    }
    .header__title {
        font-size: 26px;
        padding-top: 2px;
        padding-left: 50px;
    }
    .mainBox {
        position: relative;
        width: 96%;
    }
    .mainBox__leftSide {
        display: none;
    }
    .mainBox__rightSide {
        background-color: brown;
        width: 20px;
        height: 5vw;
        position: absolute;
        /* top: 5%;
        left: 5%; */
    }
    .mainBox__mainText {
        background-color: darkgrey;
        width: 100%;
        height: 35vw;  
    }
}