body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
}
.wrapper {
    width: 100%;
}
.main {
    /* background-color: blueviolet; */
    height: 75vh;
    margin: 0 auto;
    width: 50%;
}
.main__timer {
    background-color: lawngreen;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.main__span {
    color: darkred;
    font-size: 8em;

}
.main__nav {
    background-color: coral;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.main__nav button {
    height: 10vh;
    margin: .5vh;
    width: 40vh;
}